.tile {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: bold;
  vertical-align: middle;
  box-sizing: border-box;
  color: #dbe4ee;
  text-transform: uppercase;
  user-select: none;
  border: 2px solid #d3d6da;
  margin: 2px;
  width: 62px;
  height: 62px;
  border-radius: 50%; /* Make it a circle */
}

.green {
  background-color: #ff5c21;
  color: #ffffff;
  border: none;
}

.grey {
  background-color: #d1cd9b;
  color: #ffffff;
  border: none;
}

.yellow {
  background-color: #d4a75b;
  color: #ffffff;
  border: none;
}

@media (max-width: 737px) {
  .tile {
    width: 50px;
    height: 50px;
    border-radius: 50%; /* Ensure circle on mobile too */
  }
}
